body {
    background-color: #F7F2D2;
}

img {
    max-width: 70%;
    width: 10rem;
    position: absolute;
    top: -1rem;
    left: 3rem;
    transform: rotate(163deg);
}

@media (max-width: 540px) {
    
    img {
        width: 8rem;
    }
}